VITE_SUPABASE_URL=https://vlfsdbrktrjxyumnemkb.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZsZnNkYnJrdHJqeHl1bW5lbWtiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI2ODg3ODgsImV4cCI6MjA4ODI2NDc4OH0.MDFAoVGYYy3zbWzveWWIfHE-p0PD4RhoMEoSfSRl-eA
VITE_API_BASE_URL=http://127.0.0.1:4002